@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>控制器当中使用Hub</h1>

    <a href="@Url.Action("SendMsg", "Home")">点击发送消息</a>

</div>